@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-span/intro__list-span.css);

.intro {
  margin: 92px 0 0;
  padding: 0;
}

@media all and (max-width: 767px) {
  .intro {
    margin: 64px auto 0 auto;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    margin: 88px 0 0;
  }
}
